# SUPABASE_URL="https://bglmgdkdojlzwhdbpinl.supabase.co"
# SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnbG1nZGtkb2psendoZGJwaW5sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE4MTc2NTksImV4cCI6MjA2NzM5MzY1OX0.DdQ-0tiwxm222VKEhqZ5uvy5yYFW0KqZqZyTFKOt-S8"
NUXT_PUBLIC_APP_URL=http://localhost:3001
NUXT_PUBLIC_APP_NAME=JSJSJ

NUXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NUXT_PUBLIC_SUPABASE_KEY=sb_publishable_kskskskksksksksks
NUXT_SUPABASE_SERVICE_KEY=sb_secret_ksksksksksksksksksksk

NUXT_TWILIO_ACCOUNT_SID=jsjsjsjsjsjsjsjsjsjslslsl
NUXT_TWILIO_AUTH_TOKEN=jssksksksksksksksksksksksks

NUXT_RESEND_KEY=ssmsmmsmsmsmsmms
NUXT_RESEND_SECRET=skksksksk
NUXT_RESEND_DOMAIN=mail.example.com


CRON_SECRET=EJGz*nsneu43mm

NUXT_PROCESSOR_API_URL=http://localhost:8001
NUXT_INTERNAL_FUNCTION_KEY=jsjsjsjsjsjjsjsjs

# DjkRjI4LLsKjm2dj